.body{
    width: 33%;
}
.calculator #btns button{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
.calculator #res{
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}
.calculator #btns #btn0 , #btn1{
        background-color: lightgreen;
        color: brown;
}
.calculator #btns #btnClr , #btnEql{
    background-color: darkgreen;
    color: white;
}
.calculator #btns #btnSum , #btnSub,#btnMul, #btnDiv{
    background-color: black;
    color: red;
}